<div class="wrapper">

  <header class="page-head">
    <a href="/" title="Return to homepage" class="site-logo">
      <%= image_tag "logo.png", alt: "PhotoVoltron", class: "logo" %>
    </a>
    <ul class="nav  site-nav">
      <li class="site-nav__area">
        <%= link_to "Area Tool", new_array_area_path %>
      </li>
      <li>|</li>
      <li class="site-nav__about">
        About
      </li>
    </ul>
  </header>

</div>
